/* Set the default font family */
body {
    font-family: Arial, sans-serif;
    background-color: #06283D;
    color: #fff;
}

/* Set the font size for headings */
h1, h2, h3, h4, h5, h6 {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Set the font size for paragraphs */
p {
    font-size: 1rem;
    line-height: 1.5;
}

a {
    color: #67B2E7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px)
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.search-wrapper {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
    color: #585858;
}

.search-wrapper input {
    width: 200px;
    height: 40px;
    font-size: 16px;
    padding-left: 40px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
}

.search-wrapper input:focus {
    width: 300px;
}

.search-result {
    background-color: #fff;
    color: #000;
    padding: 15px;
    border-radius: 5px;
    overflow: hidden;
    max-height: 0;
    width: 900px;
    max-width: 95%;
    opacity: 0;
    transition: max-height 300ms ease-in-out;
}

.search-result-visible {
    max-height: 500px;
    opacity: 1;
}

.card-info {
    display: flex;
}

.card-image-container {
    margin-right: 20px;
}

.card-image-container {
    position: relative;
}

.card-image-container::before,
.card-image-container::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-repeat: no-repeat;
    opacity: .5;
    mix-blend-mode: color-dodge;
    transition: all .33s ease;
}

.card-image-container::before{
    background-position: 50% 50%;
    background-size: 300% 300%;
    background-image: linear-gradient(
            115deg,
            transparent 0%,
            rgb(0, 231, 255) 25%,
            transparent 47%,
            transparent 53%,
            rgb(255, 0, 231) 75%,
            transparent 100%
    );
    opacity: .5;
    filter: brightness(.5) contrast(1);
    z-index: 1;
}

.card-image-container::after {
    background-image: url("/sparkles.gif"),
    url(/holo.png),
    linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
    background-position: 50% 50%;
    background-size: 160%;
    background-blend-mode: overlay;
    z-index: 2;
    filter: brightness(1) contrast(1);
    transition: all .33s ease;
    mix-blend-mode: color-dodge;
    opacity: .75;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-image{
    max-width: 200px;
    max-height: 300px;
    border-radius: 5px;
}

.card-details{
    position: relative;
    width: 100%;
}

.card-details p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.card-details .card-description {
    font-size: 0.9rem;
    line-height: 1.2;
    margin-top: 1rem;
}

.card-description{
    white-space: pre-line;
    display:block;
}

.flex-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 5%;
    margin-top: 10px;
}

.card-links {
    margin-top: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    font-size: 0.8rem;
    gap:5%;
    flex-wrap: wrap;
}

.card-links a {
    display: flex;
    align-items: center;
    color: #484848;
    text-decoration: none;
}

.card-links a svg {
    margin-right: 5px;
}

.external-link-icon {
    margin-left: 5px;
}

input[type="text"] {
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
}

button[type="submit"] {
    border: none;
    background-color: #0070f3;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
    background-color: #0053a0;
}

.mutedText {
    color: #888;
    font-size: 0.8rem;
    margin-top: 8px;
}

.mt-3{
    margin-top:10px;
}

.bottom-text {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 10px;
}

.no-results{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.text-center{
    text-align: center;
}

.low-margins{
    margin-top: 5px;
    margin-bottom: 5px;
}

.next-hit {
    background-color: #06283D;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 800px) {
    .search-wrapper input:focus {
        width: 250px;
    }
}

@media only screen and (max-width: 800px) {
    .card-description{
       height: auto !important;
    }
    .container {
        height: 100%; /* Decrease height for smaller screens */
    }
    .search-result-visible {
        max-height: unset; /* Remove max-height for smaller screens */
        height: auto; /* Allow the element to expand vertically */
    }
    .bottom-text {
        position: relative;
        bottom: initial;
        margin: 20px 0;
    }
    .card-info {
        flex-direction: column;
    }
    .card-image-container {
        margin-right: auto;
        margin-left: auto;
    }
    .card-links{
        flex-direction: column;
        align-items: center;
    }
    /* card-links items margin botton */
    .card-links a {
        margin-top: 15px;
    }
}